div{
	box-sizing:border-box;
}

header{
	background:url(../img/fon.jpg) no-repeat center top / cover;
	height:600px;
}
body{
	font-family: Arial, sans-sefif;
	padding: 0;
	margin: 0;
}

.container {
	width:900px;
	margin:0 auto;
}

.logo{
	margin-top:41px;
	Float:left;
}

nav{
	float:right;
	margin-top:50px;
}

.menu{
	padding:0;
	margin:0;
	display:block;
}
.menu il{
	float:left;
	display:block;
	margin-right:41px
}

.menu il a{
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px
}